@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Code Controller</h2>

<ul>
    <li><a href="@Html.ActionLink("CustomersInGermany", "Code")">View Customers in Germany</a></li>
    <li><a href="@Html.ActionLink("CustomerByOrderId", "Code", new { orderId = 10248 })">View Customer for Order ID 10248</a></li>
</ul>


