<!--@model IEnumerable<MVC_DatabaseFirst.Models.CustOrdersOrders_Result>

<h2>Sp_With_Parameter</h2>

@{ ViewBag.Title = "Sp_With_Parameter"; }
@foreach (var v in Model)
{
    <li>Order ID: @v.OrderID</li>
    <li>Order Date: @v.OrderDate</li>
    <li>Required Date: @v.RequiredDate</li>
    <li>Shipped Date: @v.ShippedDate</li>
    <br />
}-->
<!--<h2>Enter Customer ID</h2>

<form action="/Shipper/Sp_with_Parameter" method="post">
    <label>Customer ID:</label>
    <input type="text" name="customerId" />
    <br /><br />
    <input type="submit" value="Submit" />
</form>-->