@model IEnumerable<CC9.Models.Movies>



@{
    ViewBag.Title = "Movies Directed bydirectorName";
}

<h2>@ViewBag.Title</h2>
<form action="MoviesByYear" method="post">
    <label for="year">Enter Name:</label>
    <input type="text" name="Name" id="DirectorName" required />
    <button type="submit">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.MovieName</td>
                <td>@movie.DateOfRelease</td>
            </tr>
        }
    </tbody>
</table>
